* text=auto

*.rs text
*.js text
*.css text
*.html text
*.md text
*.json text
*.toml text
*.yml text
*.yaml text
*.sh text
*.svg text
*.conf text
*.service text
*.desktop text
*.xml text
*.xsl text

*.png binary
*.ico binary
*.icns binary
*.rtf binary
*.pdf binary
